body{
    font-family: Yaldevi SemiBold;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.band-list__global {

    padding: 40px;

    @include small-only {
        padding: 20px;
        font-size: small;
        height:fit-content;
    }
    

    h1 {
        text-align: center;
        margin: 25px;
        font-family: Yaldevi Bold;
        font-size: $gutter-double;
    }
    
    select {
        margin-right: 30px;
        height: 80%;
    
        margin-bottom: 20px;
        color: $cream;
        width: 150px;
        height: 40px;
        padding: 7px;
        border-radius: 3px;
        text-align: center;

        @include small-only {
            margin-right: 0px;
        }

    }

    #music-style {
        background-color: $dark-blue;
    }

    #department {
        background-color: $light-blue;
    }

    &--container-select {
        
        @include small-only {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    a {
        text-decoration: none;
    }
}

