.band-single {

    font-family: Yaldevi SemiBold;
    margin-top: 40px;
    padding: 20px;
    text-align: center;

        nav {
            margin-top: 30px;

            a{
                color: $dark-blue;
            }

            img {
                width: 40px;
                height: 40px;
                margin-right: 20px;
            }
        }

        @include large {
            padding: 40px;;
        }

       
        h1 {
            font-size: 2rem;

            @include large {
                font-size: 4rem;
            }
        }
        
            &__card {
                
                font-family: Yaldevi Medium;
                padding: 20px;
                
                @include large {
                    display: flex;
                    justify-content: space-around;
                }

                &--left { 
                    img {
                        width: 100%;
                        height: 220px;
                        border-radius: 5px;

                        @include large {
                            width: 100%;
                            height: 450px;
                        }
                    }
                } 
                
                

                &--right {

                    text-align: center;

                    @include large {
                        width: 50%;
                    }
                    
                    &--select {
                        display: flex;
                        justify-content: space-between;
                        padding: 12px;
                                      
                    }

                    h3 {
                        text-align: center;
                        padding: 12px;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        font-size: 1.5rem ;
                        font-weight: bold;
                    }

                    p {

                        @include large {
                            font-size: x-large;;
                        }
                        
                    }
                }
            }


}