@font-face {
    
    font-family: "Yaldevi Bold";
    
    src: url("../fonts/Yaldevi-Bold.ttf");
}

@font-face {
    
    font-family: "Yaldevi ExtraLight";
    
    src: url("../fonts/Yaldevi-ExtraLight.ttf");
}

@font-face {
    
    font-family: "Yaldevi Light";
    
    src: url("../fonts/Yaldevi-Light.ttf");
}

@font-face {
    
    font-family: "Yaldevi Medium";
    
    src: url("../fonts/Yaldevi-Medium.ttf");
}

@font-face {
    
    font-family: "Yaldevi Regular";
    
    src: url("../fonts/Yaldevi-Bold.ttf");
}

@font-face {
    
    font-family: "Yaldevi SemiBold";
    
    src: url("../fonts/Yaldevi-SemiBold.ttf");
}
