.contact-band {

    display: flex;
    justify-content: center;    

        &__button {
        margin-right: 30px;
        margin-bottom: 50px;
        margin-top: 50px;
        color: $cream;
        width: 150px;
        height: 40px;
        padding: 7px;
        border-radius: 5px;
        border: none;
        box-shadow: 00 0 0.2em black, 0 0 0.2em black;
        text-align: center;
        background-color: $lighter-blue;
        font-size: large;
        }

}    