.band-card {
    background-color: $very-light-blue;
    height: 180px;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 3px 6px black;
    
    a {
        color: black;
    }
   
    p {
        text-align: center;
        font-family: Yaldevi SemiBold;
    }
    
    margin-bottom: 25px;
    
    &__top {
        display: flex;
        justify-content: space-between;
    }

    @include small-only {
        padding: 12px;
        height: 200px;
    }


    
}





